$enable-negative-margins: true;

$primary: #6EE2F5;

$body-bg-dark: #1F2122;
$body-tertiary-bg-dark: #27292a;
$body-tertiary-color-dark: #666;

$btn-border-radius: 50rem;
$btn-padding-x: 1rem;
$input-group-addon-bg: #1F2122;
// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won’t be available)

@import "bootstrap/scss/bootstrap";

.input-group-text {
  border-radius: 2rem;
}

.input-group > .form-control {
    border-radius: 2rem;
    border-left: none;
}

.swiper-button-next,
.swiper-button-prev {
    color: $primary;
}

