$enable-negative-margins: true;

$primary: #6EE2F5;
$navbar-light-active-color: #6EE2F5;
$navbar-light-hover-color: #6EE2F5;
$primary-bg-subtle-dark: rgba($primary, 0.1) !default;

$body-bg-dark: #1F2122;
$body-secondary-bg-dark: #1f2122;
$input-group-addon-bg: #1F2122;

$body-tertiary-bg-dark: #27292a;

$body-color-dark: #666;
$body-tertiary-color-dark: #666;
$input-color: #666;
$navbar-light-color: #666;
$dropdown-link-color: #666;
$dropdown-link-active-color: #666;
$input-placeholder-color: #666;

$btn-border-radius: 50rem;
$btn-padding-x: 1rem;

$headings-color-dark: #fff;
$form-label-color: #fff;
$card-title-color: #fff;

$position-values: (
  0: 0,
  50: 50%,
  100: 100%,
  25: 25%,
  75: 75%,
  5: 5%,
  10: 10%,
  20: 20%
);

@import "bootstrap/scss/bootstrap";

.input-group-text {
  border-radius: 2rem;
}

.input-group > .form-control {
    border-radius: 2rem;
    border-left: none;
}

.swiper-button-next,
.swiper-button-prev {
    color: $primary;
}

