/*
---------------------------------------------
Dark theme
---------------------------------------------
*/
[data-bs-theme="dark"] {
    --bs-body-bg: #1F2122!important;
}

[data-bs-theme="dark"] .bg-body-tertiary {
    background-color: #27292a!important;
}

[data-bs-theme="dark"] .bg-body-secondary {
    background-color: #1F2122!important;
}

/*
---------------------------------------------
Bootstrap
---------------------------------------------
*/
.navbar-nav .nav-link {
    /* color: #666;      */
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show,
.navbar-nav .nav-link:hover {
    color: #6358ED;
}

.btn-secondary {
    border-radius: 50rem;
    padding: 8px 20px;
    /* background-color: #27292a; */
    /* color:#666; */
}

.btn-secondary:hover,
.dropdown-item.active,
.dropdown-item:active {
    background-color: #6358ED;
}

.btn-primary {
    background-color: #6358ED;
    border: none;
    border-radius: 50rem;
    padding: 8px 20px;
    border-color: #565e64
}

.btn-primary:hover {
    background-color: #27292a;
}

.img-thumbnail {
    border: none;
}

/*
---------------------------------------------
Header
---------------------------------------------
*/
#form-search input,
#form-search input::placeholder,
#form-search svg {
    color: #666;
}

#form-search {
    position: relative;
}

#form-search input {
    height: 45px;
}

#form-search svg {
    position: absolute;
    left: 20px;
    top: 16px;
}

/*
---------------------------------------------
Page
---------------------------------------------
*/
#banner {
    /* background-image: url('http://localhost:8000/storage/images/home_img_1.png'); */
    background-position: center center;
    background-size: cover;
}

.card-body p {
    color: #666;
}

.card-body svg {
    color: #6358ED;
}

/* .header {
  background-color: transparent;
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  margin-top: 15px;
  transition: all .15s ease 0s;
  -webkit-transition: all .15s ease 0s;
  -moz-transition: all .15s ease 0s;
  -o-transition: all .15s ease 0s;
}

.background-header {
  background-color: #fff !important;
  position: fixed!important;
  top: 0!important;
  left: 0;
  right: 0;
  display: none;
} */


