/*
---------------------------------------------
Style
---------------------------------------------
*/
html,
body,
#root {
    height: 100%;
}

#banner {
    background-image: url('http://localhost:8000/storage/images/home_background_1.jpg');
    background-position: center center;
    background-size: cover;
}

/*
---------------------------------------------
Animations
---------------------------------------------
*/
.header {
    transform: translateY(0);
    transition: transform .5s ease 0s;
    -webkit-transition: transform .5s ease 0s;
    -moz-transition: transform .5s ease 0s;
    -o-transition: transform .5s ease 0s;
}

.header-alt {
    transform: translateY(-100%);
}

.bagde-animated {
    opacity: 0;
    transition: opacity .4s;
}

.card-img-overlay:hover .bagde-animated {
    opacity: 1;
}

.title-animated {
    transform: translateY(60px);
    transition: transform .5s ease 0s;
    -webkit-transition: transform .5s ease 0s;
    -moz-transition: transform .5s ease 0s;
    -o-transition: transform .5s ease 0s;
}

.card-img-overlay:hover .title-animated {
    transform: translateY(0px);
}
